<template>
    <button
        @click="handleClick"
        :disabled="disabled || loading"
        class="btn"
        :class="[
            block             ? 'btn-block'                          : '',
            type              ? 'btn-' + type                        : '',
            size              ? 'btn-' + size                        : '',
            icon || arrowText ? 'btn-labeled'                        : '',
            loading           ? 'spinner spinner-default spinner-sm' : '',
        ]"
    >
        <span class="btn-label" v-if="icon && iconPosition === 'left'">
            <e-icon :icon="icon" :size="iconSize"></e-icon>
        </span>

        <span v-if="arrowText && arrowPosition === 'left'"
            class="btn-label arrow-right"
            :class="[
                arrowType ? 'arrow-' + arrowType : '',
            ]"
            >
            {{arrowText}}
        </span>

        <slot></slot>

        <span v-if="arrowText && arrowPosition === 'right'"
            class="btn-label btn-label-right arrow-left"
            :class="[
                arrowType ? 'arrow-' + arrowType : '',
            ]"
            >
            {{arrowText}}
        </span>

        <span class="btn-label btn-label-right" v-if="icon && iconPosition === 'right'">
            <e-icon :icon="icon" :size="iconSize"></e-icon>
        </span>
    </button>
</template>

<script>
import EIcon from './Icon'

export default {
    name: 'EButton',

    components: {
        'e-icon': EIcon
    },

    props: {
        type: {
            type: String,
            default: 'primary',
        },
        size: String,

        icon: {
            type: String,
            default: '',
        },
        iconSize: {
            type: String,
            default: 'sm',
        },
        iconPosition: {
            type: String,
            default: 'left',
        },

        arrowText: {
            type: String,
            default: '',
        },
        arrowPosition: {
            type: String,
            default: 'left',
        },
        arrowType: {
            type: String,
            default: 'outline-danger',
        },

        loading: Boolean,
        disabled: Boolean,
        block: {
            type: Boolean,
            default: false,
        },
    },

    methods: {
        handleClick(evt) {
            evt.stopPropagation();
            this.$emit('click', evt);
        },

        handleInnerClick(evt) {
            if (this.disabled) {
                evt.stopPropagation();
            }
        },
    },
};
</script>
