<template>
    <div>
        <label class="custom-control custom-control-primary custom-checkbox">
            <input type="checkbox" class="custom-control-input" v-model="value" @focus="handleFocus" @blur="handleBlur">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-label">{{label}}</span>
        </label>
    </div>
</template>

<script>
    export default {
        name: 'ECheckbox',
        props: ['label', 'readonly', 'default'],

        watch: {
            value(newVal) {
                this.$emit('input', newVal)
            }
        },

        data() {
            return {
                value: this.default ? this.default : false,
            }
        },

        methods: {
            handleBlur(event) {
                this.$emit('blur', event);
            },
            handleFocus(event) {
                this.$emit('focus', event);
            },
        },
    }
</script>
