<template>
    <div class="divider"
         :class="[
            direction === 'vertical' ? 'divider-vertical' : ''
         ]">
        <div class="divider-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'EDivider',
    props: {
        direction: {
            type: String,
            default: 'horizontal',
        },
    },
};
</script>

<style>
</style>