<template>
    <span class="icon icon-fw"
          :class="[
            icon ? 'icon-' + icon : '',
            size ? 'icon-' + size : '',
          ]"
    >
    </span>
</template>

<script>
export default {
    name: 'EIcon',
    props: {
        icon: {
            type: String,
            default: '',
        },
        size: {
            type: String,
            default: 'lg',
        },
    },
};
</script>

<style>
</style>