<template>
    <div v-if="!has"
         class="form-group"
         :class="[
            size ? 'form-group-' + size : '',
         ]">
            <label v-if="label !== ''" class="form-label">{{label}}</label>
            <input
                v-if="type !== 'textarea'"
                class="form-control"
                v-bind="$props"
                :placeholder="placeholder"
                :type="type"
                :readonly="readonly"
                :value="currentValue"
                @input="handleInput"
                @focus="handleFocus"
                @blur="handleBlur">
            <textarea
                v-if="type === 'textarea'"
                class="form-control"
                v-bind="$props"
                :placeholder="placeholder"
                :type="type"
                :readonly="readonly"
                :value="currentValue"
                :rows="rows"
                @input="handleInput"
                @focus="handleFocus"
                @blur="handleBlur"/>

            <slot name="help-block"></slot>
    </div>
    <div v-else
         class="form-group"
         :class="[
            size ? 'form-group-' + size : '',
         ]">
             <div :class="[
                has ? 'has-' + has : '',
             ]">
                <label v-if="label !== ''" class="form-label">{{label}}</label>
                <input
                    v-if="type !== 'textarea'"
                    class="form-control"
                    v-bind="$props"
                    :placeholder="placeholder"
                    :type="type"
                    :readonly="readonly"
                    :value="currentValue"
                    @input="handleInput"
                    @focus="handleFocus"
                    @blur="handleBlur">
                <textarea
                    v-if="type === 'textarea'"
                    class="form-control"
                    v-bind="$props"
                    :placeholder="placeholder"
                    :type="type"
                    :readonly="readonly"
                    :value="currentValue"
                    :rows="rows"
                    @input="handleInput"
                    @focus="handleFocus"
                    @blur="handleBlur"/>

                    <slot name="help-block"></slot>
            </div>
    </div>
</template>

<script>
export default {
    name: 'EInput',

    data() {
        return {
            currentValue: this.value,
        };
    },

    props: {
        size: {
            type: String,
            default: 'md',
        },
        placeholder: {
            type: String,
            default: '',
        },
        readonly: {
            type: Boolean,
            default: false,
        },
        type: {
            type: String,
            default: 'text',
        },
        value: [String, Number],
        has: {
            type: String,
            default: '',
        },
        label: {
            type: String,
            default: '',
        },
        rows: {
            type: Number,
            default: 2,
        },
    },

    watch: {
        value(val) {
            this.setCurrentValue(val);
        },
    },

    methods: {
        setCurrentValue(value) {
            if (value === this.currentValue) return;
            this.currentValue = value;
        },
        handleInput(event) {
            const value = event.target.value;
            this.$emit('input', value);
            this.setCurrentValue(value);
            this.$emit('change', value);
        },
        handleBlur(event) {
            this.$emit('blur', event);
        },
        handleFocus(event) {
            this.$emit('focus', event);
        },
    },
};
</script>

<style scoped>
div {
    text-align: left;
}
</style>
