<template>
<transition name="modal">
    <div class="modal-mask" v-if="open">
        <div class="modal-wrapper">
            <div class="modal-container">
                <div class="modal-header"
                    :class="[
                        type === 'success' ? 'bg-success' : '',
                        type === 'warning' ? 'bg-warning' : '',
                        type === 'info' ? 'bg-primary' : '',
                        type === 'danger' ? 'bg-danger' : ''
                    ]"
                >
                <slot name='header'>
                    <button type="button" class="close" @click="close">
                      <span aria-hidden="true">×</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">{{title}}</h4>
                </slot>
                </div>

                <div class="modal-body">
                    <div class="text-center" v-if="type === 'info'">
                        <span class="text-primary icon icon-info-circle icon-5x"></span>
                        <slot name='body'>
                        </slot>
                    </div>

                    <div class="text-center" v-if="type === 'success'">
                        <span class="text-success icon icon-check icon-5x"></span>
                        <slot name='body'>
                        </slot>
                    </div>

                    <div class="text-center" v-if="type === 'warning'">
                        <span class="text-warning icon icon-exclamation-triangle icon-5x"></span>
                        <slot name='body'>
                        </slot>
                    </div>

                    <div class="text-center" v-if="type === 'danger'">
                        <span class="text-danger icon icon-times-circle icon-5x"></span>
                        <slot name='body'>
                        </slot>
                    </div>

                    <slot name='body' v-if="type === ''">
                    </slot>
                </div>

                <div class="modal-footer">
                    <slot name='footer'>
                    </slot>
                </div>
            </div>
        </div>
    </div>
</transition>
</template>

<script>
    export default {
        name: 'EModal',
        props: {
            'open': {
                type: Boolean,
                default: false
            },
            'type': {
                type: String,
                default: ''
            },
            'title': {
                type: String,
                default: ''
            }
        },
        watch: {
            open (value) {
                document.body.style.overflow = value ? 'hidden' : 'visible'
            }
        },
        data() {
            return {
                openStyle: {
                    'display': 'block',
                    'padding-right': '14px'
                },
                closeStyle: {
                    'display': 'none'
                }
            }
        },
        methods: {
            close() {
                this.$emit('update:open', false)
            }
        }
    }
</script>

<style scoped>
/*    .modal__container {
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 1000;
    }

    .modal {
        height: 100%;
        overflow: auto;
    }

    .modal {
        position: unset !important;
    }

    .modal-title {
        text-align: left;
    }

    .cloak {
        opacity: 0.5;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;
    }

    .modal-content {
        border: none;
    }

    .modal-content .modal-header {
        border-bottom: none !important;
    }

    .modal-content .modal-footer {
        border-top: none !important;
    }

    .pos {
        position: absolute;
    }*/

    .modal-enter {
      opacity: 0;
    }

    .modal-leave-active {
      opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    .modal-mask {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        overflow: auto;
    }

    .modal-container {
      max-width: 600px;
      width: 100%;
      margin: auto 15px;
      padding: 20px 30px;
      background-color: #fff;
      border-radius: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
      margin-top: 0;
      color: #42b983;
    }

    .modal-body {
      margin: 20px 0;
    }

    .modal-default-button {
      float: right;
    }

</style>
