<template>
    <option v-bind="$props" @click="self => $emit('click', self)">
        <slot>
        </slot>
    </option>
</template>

<script>
    export default {
        name: 'EOption'
    }
</script>
