<template>
    <div>
        <label v-if="label">{{label}}</label>
        <select
            class="form-control"
            :value="value"
            @input="onChange"
            ref="select">
            <slot></slot>
        </select>
    </div>
</template>

<script>
export default {
    name: 'ESelect',
    props: ['value', 'label'],
    data () {
        return {
            select: ''
        }
    },
    methods: {
        onChange (evt) {
            this.$emit('input', this.$refs.select.value)
        }
    }
}
</script>

<style scoped>
    div {
        margin: auto;
        text-align: left;
    }
</style>
