<template>
  <table class="table table-striped table-nowrap dataTable">
    <thead>
      <tr>
        <th
          v-for="(header, index) in getHeaders"
          v-if="header.componentOptions.propsData.show !== undefined ? header.componentOptions.propsData.show === true : true"
          :key="index"
        >
            {{ header.componentOptions.propsData.header || '' }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="rows.length == 0 ? true : false">
        <td :colspan="countVisibleHeaders">
          <slot name="empty"/>
        </td>
      </tr>
      <tr v-for="(row, index) in rows" :key="index">
        <td
          v-for="(header, subindex) in getHeaders"
          v-if="header.componentOptions.propsData.show !== undefined ? header.componentOptions.propsData.show === true : true"
          :key="subindex"
          @click="handleClick(header, row)"
        >
          <component
            v-if="header.componentOptions.propsData.component && header.componentOptions.propsData.func"
            :is="header.componentOptions.propsData.component"
            :data="header.componentOptions.propsData.func(row)"
          >
          </component>
          <component
            v-else-if="header.componentOptions.propsData.component"
            :is="header.componentOptions.propsData.component"
            :data="row"
          >
          </component>
          <span
            v-else-if="header.componentOptions.propsData.func"
          >
            {{header.componentOptions.propsData.func(row)}}
          </span>
          <span v-else>
            {{row}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'ETable',
  props: {
    rows: {
      type: Array,
      default: () => {
        return [];
      }
    },
  },
  methods: {
    handleClick(header, row) {
      this.$emit('click', {
        header: header.componentOptions.propsData,
        row,
      })
    }
  },
  computed: {
    countVisibleHeaders() {
      return this.$slots.default.filter(val => {
        return val.componentOptions.propsData.show && val.tag
      }).length;
    },
    getHeaders() {
      console.log(this.$slots.default)
      return this.$slots.default.filter(val => {
        if (val.tag) {
          return true;
        } else {
          return false;
        }
      })
    },
  },
}
</script>

<style>
th {
  text-align: center;
}

td {
  text-align: center;
}
</style>
